<h1 class="mb-2">Create Ad Unit</h1>

<div class="card">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="unit_name">Unit Name</label>
        <input type="text" name="unit_name" id="unit_name" class="form-control">
      </div>

      <div class="form-group">
        <label for="unit_price">Unit Price</label>
        <input type="number" step="0.01" min="0" name="unit_price" id="unit_price" class="form-control">
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary">Create Unit</button>
      </div>
    </form>
  </div>
</div>